<div class="container">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{filterByType('income').length}}</h5>
          <p class="card-text">Income</p>
          <a routerLink="/navigator" [queryParams]="{'tab': 0}" class="btn btn-primary float-right">See all</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{filterByType('investment').length}}</h5>
          <p class="card-text">Investments</p>
          <a routerLink="/navigator" [queryParams]="{'tab': 1}" class="btn btn-primary float-right">See all</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{filterByType('outcome').length}}</h5>
          <p class="card-text">Outcome</p>
          <a routerLink="/navigator" [queryParams]="{'tab': 2}" class="btn btn-primary float-right">See all</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{filterByType('loan').length}}</h5>
          <p class="card-text">Loans</p>
          <a routerLink="/navigator" [queryParams]="{'tab': 3}" class="btn btn-primary float-right">See All</a>
        </div>
      </div>
    </div>
  </div>
</div>