<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#income">Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#outcome">Outcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#loans">Loans</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#investments">Investments</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="income">
    Income list
  </div>
  <div class="tab-pane fade" id="outcome">
    Outcome list
  </div>
  <div class="tab-pane fade" id="loans">
    Loans list
  </div>
  <div class="tab-pane fade" id="investments">
    Investments list
  </div>
</div>
